<h1><%= @room.name %></h1>

<h2>Current Bookings:</h2>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      Check-in: <%= booking.checkin_time %> -
      Check-out: <%= booking.checkout_time %> -
      Total Guests: <%= booking.total_guests %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Booking', new_room_booking_path(@room) %>

<h2>Historical Bookings:</h2>
<ul>
  <% @historical_bookings.each do |historical_booking| %>
    <li>
      Check-in: <%= historical_booking.checkin_time %> -
      Check-out: <%= historical_booking.checkout_time %> -
      Total Guests: <%= historical_booking.total_guests %>
    </li>
  <% end %>
</ul>
