<h1><%= @room.name %></h1>

<p>Capacity: <%= @room.capacity %></p>
<p>Max Capacity: <%= @room.max_capacity %></p>
<p>Price: <%= @room.price %></p>

<!-- Add other attributes as needed -->

<%= link_to 'New Room', new_room_path(@room), class: 'btn btn-primary' %>

<%= link_to 'Book Room', new_room_booking_path(@room), class: 'btn btn-success' %>
